@* @page "/login" *@
@attribute [Route(PageRoutes.Login)]

@layout HeadlessLayout

<PageTitle>Dima - Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12">
        <MudPaper>
            <h1>Autentique-se</h1>
        </MudPaper>
    </MudItem>
</MudGrid>
