@* @page "/logout" *@
@attribute [Route(PageRoutes.Logout)]

@inherits LogoutComponentBase

<PageTitle>Dima - Sair</PageTitle>

<MudText Typo="Typo.h3">Finalizando Sessão...</MudText>
<MudPaper Class="pa-8 mt-4">
    <div class="d-flex justify-center pb-8 pt-8">
        <img src="img/dima.png" alt="Dima - Seu Controle Financeiro" width="200" />
    </div>
    <MudAlert Severity="Severity.Info">
        Finalizando a sessão...
        <MudButton Variant="Variant.Text" Href="@PageRoutes.Home">
            IR PARA TELA DE LOGIN
        </MudButton>
    </MudAlert>
</MudPaper>