@* @page "/comecar" *@
@attribute [Route(PageRoutes.Comecar)]

@layout HeadlessLayout
@inherits RegisterComponentBase

<PageTitle>Dima - Começar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center py-8">
                <img src="img/dima.png" alt="Dima - Controle Financeiro" width="200">
            </div>

            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                <MudTextField
                    T="string"
                    InputType="InputType.Email"
                    Label="E-mail"
                    HelperText="Campo obrigatório"
                    For="@(() => InputModel.Email)"
                    @bind-Value="InputModel.Email"
                />

                <MudTextField
                    T="string"
                    InputType="InputType.Password"
                    Label="Senha"
                    HelperText="Campo obrigatório"
                    For="@(() => InputModel.Password)"
                    @bind-Value="InputModel.Password"
                />

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">COMEÇAR</MudButton>
                        <MudSpacer />
                        <MudButton Href="@PageRoutes.Login">JÁ TENHO UMA CONTA</MudButton>
                    }
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>